#app {
    width: calc(100%-10px);
    margin: 5px auto;
}

label {
    display: inline-block;
    padding: 3px 0px;
    width: 100%;
}

button {
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    margin: 3px 0px;
    width: 100%;
}

div.foreign {
    width: 100%;
}

label[for="foreign"] {
    width: 75%;
}

label[for="foreign"] input {
    width: 100%;
}

label[for="currency"] {
    width: calc(25% - 7px);
}

@media screen and (min-width: 640px) {
    #app {
	margin: 5px;
    }

    label {
	display: inline-block;
	padding: 3px 5px;
	width: auto;
    }

    button {
	border: 1px solid #9e9e9e;
	border-radius: 5px;
	margin: 0px;
	padding: 0px 1em;
	height: 1.5em;
	width: auto;
    }

    div.foreign {
	display: inline-block;
	width: auto;
    }

    label[for="foreign"] {
	width: auto;
    }

    label[for="foreign"] input {
	width: auto;
    }

    label[for="currency"] {
	width: auto;
    }
}

.negative {
    color: red;
}

div.insert {
    margin-bottom: 1.1em;
}

label>span {
    display: block;
    color: #9e9e9e;
}

input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    height: 1.5em;
    width: inherit;
}

.list table {
    margin: 0px auto;
}

.list td {
    vertical-align: middle;
}

.list th {
    text-align: center;
    vertical-align: middle;
}

.list tbody td {
    border-top: 1px solid #9e9e9e;
    padding: 3px 3px;
}

td.time {
    text-align: center;
}

td.foreign,td.local,td.rate {
    width: 20%;
    text-align: right;
}

td.currency {
    width: 10%;
    text-align: center;
}

tfoot td {
    border-top: 1px solid #9e9e9e;
    padding: 3px 3px;
    text-align: right;
}

select.list-type {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}