<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="utf-8">
    <title>外匯交易小幫手</title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
  </head>
  <body>
    <div id="app">
      <order-form></order-form>
      <select v-model="orderType" @change="getOrders()" class="list-type">
	<option value="">全部</option>
	<template v-for="(code, name) in T">
	  <option :value="code">{{name}}</option>
	</template>
      </select>
      <order-list :order-type="orderType" :orders="orders"></order-list>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
